
<div class="search_bar">
	<form action="/ibook/search/book/find" method="GET">
		<input type="text" name="search" id="search">
		<button>search</button>
		<% if session[:search_result] %>
			<p class="text"><%=session[:search_result]%></p>
		<%else%>
		<%""%>
		<%end%>
	</form>
</div>


	<nav class="categories">
		<%@category.each do |category|%>
			<a href="/ibook/category/<%=category.id%>">
				<%= category[:name] %> |
			</a> 
		<%end%>
	</nav>



<div class="all_books_container">
	<% @books.each do |book|%>
		<div class="single_book_container">
			<a href="/ibook/<%=book.id%>"><img src="<%=book.image%>"></a>
		</div>
	<%end%>
</div>

