
<h2 class="text_library">My library </h2>

<div class="all_books_container">
	
	<h2><%=session[:book_status]%></h2>

	<% @unwanted_books.each do |book| %>
		<div class="single_book_container">
		<img src="<%=book.image%>">
		<ul>
			<li><%=book[:title]%></li>
			<li><%=book[:author]%></li>
			<a href="/ibook/unwantedList/edit/<%=book.id%>">edit</a>
			<form action="/ibook/unwantedList/<%=book.id%>" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button>remove</button>
			</form>
		</ul>
		</div>
	<% end %>
</div>